<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark animate__animated animate__fadeIn"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/home">UTN App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/registro">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/calculadora">Calculadora</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios">Usuarios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
